// Variable
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

//Set text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}