<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home - InternDigger</title>
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>