<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternDigger</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header -->
  <%-include('_header')%>

  <main class="main">
    <div class="error">
      <div class="error-title">
        <h2 class="secondaryHeading"><%=title%></h2>
      </div>
      <div class="error-msg"><%=msg%></div>
    </div>
  </main>

  <!-- Footer -->
  <%-include('_footer')%>
</body>
</html>