<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - InternDigger</title>
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
  <link rel="stylesheet" href="./css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- navbar -->
  <section class="user-nav">
    <div class="container">
      <nav id="main-nav" class="py-1">
        <div class="nav--logo">
          <a href="index.html">ID</a>
        </div>
        <ul class="list nav--list">
          <li><a href="/me" class="btn">Harshit</a></li>
          <li><a href="/logout" class="btn">Log Out</a></li>
          <!-- <li><a href="/contact" class="btn">Contact Us</a></li> -->
        </ul>
      </nav>
    </div>
  </section>
  
  <!-- main-content -->
  <main id="userAbout" class="main">
    <div class="user-view">
      <div class="user-view__menu">
        <ul class="user__menu-list">
          <li><a href="">Post Vacancy</a></li>
          <li><a href="">Personal Details</a></li>
          <li><a href="">Responses Recieved</a></li>
          <li><a href="">Change Password</a></li>
        </ul>
      </div>
      <div class="user-view__content card">
        <div class="user-view__form-container">
          <h2 class="secondary-heading" style="font-size: 1.6rem;">Post</h2>
          <form class="form form-company-data" style="width: 80%">
            <div class="form__group">
              <label class="form__label" for="position">Position</label>
              <input class="form__input" id="position" type="text" placeholder="SDE" required name="position">
            </div>
            <div class="form__group">
              <label class="form__label" for="org-name">Organization</label>
              <input class="form__input" id="org-name" type="text" value="Glasify Pvt. Ltd." name="org-name" disabled>
            </div>
            <div class="form__group">
              <label class="form__label" for="duration">Duration</label>
              <input class="form__input" id="duration" type="text" placeholder="6 months" required name="duration">
            </div>
            <div class="form__group">
              <label class="form__label" for="jd">Description</label>
              <textarea name="jd" id="jd" class="form__input" required></textarea>
            </div>
            <div class="form__group">
              <label class="form__label" for="email">Email address</label>
              <input class="form__input" id="email" type="email" value="example@example.com" required name="email">
            </div>
            <div class="form__group right">
              <button class="btn btn--small btn">Post</button>
            </div>
          </form>
        </div>
        <!-- <div class="user-view__form-container">
          <h2 class="secondary-heading" style="font-size: 1.6rem;">Personal Details</h2>
          <form class="form form-company-data" style="width: 80%">
            <div class="form__group">
              <label class="form__label" for="name">Name</label>
              <input class="form__input" id="name" type="text" value="Harshit Kathuria" required name="name">
            </div>
            <div class="form__group">
              <label class="form__label" for="email">Email address</label>
              <input class="form__input" id="email" type="email" value="example@example.com" required name="email">
            </div>
            <div class="form__group">
              <label class="form__label" for="org-name">Organization</label>
              <input class="form__input" id="org-name" type="text" value="Glasify Pvt. Ltd." required name="ord-name">
            </div>
            <div class="form__group right">
              <button class="btn btn--small btn">Save settings</button>
            </div>
          </form>
        </div> -->
        <!-- <div class="line">&nbsp;</div>
        <div class="user-view__form-container">
          <h2 class="secondary-heading" style="font-size: 1.6rem;">Password change</h2>
          <form class="form form-user-password">
            <div class="form__group"><label class="form__label" for="password-current">Current password</label><input
                class="form__input" id="password-current" type="password" placeholder="••••••••" required="" minlength="8">
            </div>
            <div class="form__group"><label class="form__label" for="password">New password</label><input class="form__input"
                id="password" type="password" placeholder="••••••••" required="" minlength="8"></div>
            <div class="form__group ma-bt-lg"><label class="form__label" for="password-confirm">Confirm password</label><input
                class="form__input" id="password-confirm" type="password" placeholder="••••••••" required="" minlength="8">
            </div>
            <div class="form__group right"><button class="btn btn--small btn--green btn--save-password">Save password</button>
            </div>
          </form>
        </div> -->
        <!-- <div class="line">&nbsp;</div> -->
        <!-- Applied Internship -->
        <!-- <div class="user-view__content applied">
          <h2 class="secondary-heading text-center" style="font-size: 1.6rem;">Applied Internships</h2>
            <div class="content-wrapper">          
              <div class="card">
                <p class="company">Harshit Kathuria</p>
                <p class="title">SDE Intern</p>
                <p class="appliedDate">1 Aug, 2020</p>
                <p>harshitkathuria14@gmail.com</p>
              </div>
              <div class="card">
                <p class="company">Harshit Kathuria</p>
                <p class="title">SDE Intern</p>
                <p class="appliedDate">1 Aug, 2020</p>
                <p>harshitkathuria14@gmail.com</p>
              </div>
              <div class="card">
                <p class="company">Harshit Kathuria</p>
                <p class="title">SDE Intern</p>
                <p class="appliedDate">1 Aug, 2020</p>
                <p>harshitkathuria14@gmail.com</p>
              </div>
            </div>
        </div> -->
      </div>
    </div>
  </main>

   <!-- Footer -->
   <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2020. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </footer>

</body>
</html>