<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternDigger | Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
  <script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/main.css">
</head>
<body style="background-color: #f0f2f5;">
  
  <section id="section-login">
    <div class="section-heading">
      <div class="section-title">InternDigger</div>
      <p class="lead">Dig out the opportunity and grab your internship</p>
    </div>
    <!-- <div class="bottom-line"></div> -->
    <div class="container">
      <div class="join py-3" id=section-c>
        <div class="secondary-title text-center">Login</div>
        <div class="cards" style="padding-top: 10px">
          <div class="customer-card">
            <h2 class="card-title">For Recruiters</h2>
            <p>We are a technical platform with exceptional developers and students.</p>
            <a href="/signupCompany" class="btn btn-large btn-block btn-dark">Log In</a>
            <p class="alternate lead py-1">Don't have an account?<a class="alternate-link" href="/signup.html"> Sign Up</a></p>

          </div>
          <div class="customer-card">
            <h2 class="card-title">For Students</h2>
            <p>Join Us and and grab your internship.</p>
            <a href="/signupStudent" class="btn btn-large btn-block btn-dark">Log In</a>
            <p class="alternate lead py-1">Don't have an account?<a class="alternate-link" href="/signup.html"> Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2020. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </footer>

</body>
</html>