<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternDigger | Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
  <script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body style="background-color: #f0f2f5;">
  
    <section class="login-category py-3 container">
      <div class="section-title">InternDigger</div>
      <div class="category-overview">
        <p class="category">For Students</p>
        <p class="category-subtitle">Practice , Grab internship, Gain experience</p>
      </div>
      </div>
    </section>

  <section class="card">
    <div class="card-heading lead">Log into your account</div>
    <form class="login-form">
      <input type="email" name="email" placeholder="Enter your email" required>
      <input type="password" name="password" placeholder="Enter your password" required>
      <button type="submit" class="btn btn-large">LOGIN</button>
    </form>
  </section>

  <!-- Footer -->
  <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2020. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </footer>

</body>
</html>