<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InternDigger | Grab Intership</title>
  <!-- <link rel="shortcut icon" href="../img/android-chrome-192x192.png"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
  <link rel="manifest" href="../img/site.webmanifest">
  <link rel="stylesheet" href="./css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- Section A: Showcase -->
  <section id="section-a" class="section text-center">
    <div class="container">
      <nav id="main-nav" class="py-1">
        <div class="nav--logo">
          <a href="index.html">ID</a>
        </div>
        <ul class="list nav--list">
          <li><a href="login.html" class="btn">Log In</a></li>
          <li><a href="/signup" class="btn">Sign Up</a></li>
          <!-- <li><a href="/me" class="btn">Harshit</a></li>
          <li><a href="/logout" class="btn">Log Out</a></li> -->
          <!-- <li><a href="/contact" class="btn">Contact Us</a></li> -->
        </ul>
      </nav>
  
      <div class="section-overview">
        <h2 class="overview-heading">InternDigger</h2>
        <p class="lead">
          Dig out the opportunity and grab your internship
        </p>
      </div>
  </div>
  </section>

  <!-- Section B: Quotes -->
  <section id="section-b" class="section py-2">
    <div class="container">
      <div class="cards">
        <div class="quote-card">
          <p>
            The only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
          </p>
          <small>-Steve Jobs</small>
        </div>
        <div class="quote-card">
          <p>
            You have brains in your head. You have feet in your shoes. You can steer yourself in any direction you choose. You’re on your own. And you know what you know. And YOU are the one who’ll decide where to go!
          </p>
          <small>-Dr. Seuss</small>
        </div>
      </div>
    </div>
  </section>

  <!-- Section C: getting Customers -->
  <section id="section-c" class="section py-2">
    <div class="container">
      <div class="section-title">
        <h1>Join Us...</h1>
      </div>
      <div class="cards py-2">
        <div class="customer-card">
          <h2 class="card-title">For Recruiters</h2>
          <p>We are a technical platform with exceptional developers and students.</p>
          <a href="/signupCompany" class="btn btn-large btn-dark">Post Opportunity</a>
        </div>
        <div class="customer-card">
          <h2 class="card-title">For Students</h2>
          <p>Join Us and and grap your internship.</p>
          <a href="/signupStudent" class="btn btn-large btn-dark">SignUp & Get Started</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2020. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </footer>

  <script src="js/main.js"></script>
  <script src="js/slideIn.js"></script>
</body>
</html>