<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - InternDigger</title>
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
  <link rel="stylesheet" href="./css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- navbar -->
  <section class="user-nav">
    <div class="container">
      <nav id="main-nav" class="py-1">
        <div class="nav--logo">
          <a href="index.html">ID</a>
        </div>
        <ul class="list nav--list">
          <li><a href="/me" class="btn">Harshit</a></li>
          <li><a href="/logout" class="btn">Log Out</a></li>
          <!-- <li><a href="/contact" class="btn">Contact Us</a></li> -->
        </ul>
      </nav>
    </div>
  </section>
  
  <!-- main container -->
  <main class="main">
    <h2 class="secondary-heading text-center my-4">Find Your Perfect Internship</h2>
    <div class="bottom-line"></div>
    <div class="user-view py-3">
      <div class="user-view__menu">
        <h2 class="m-heading">Filter By <i class="fas fa-filter"></i></h2>
          <ul class="filter-list">
            <li class="filter-options"><span class="dropdown">Type <i class="fas fa-chevron-up"></i>
              <i style="display: none;" class="fas fa-chevron-down"></i></span>
              <ul class="filter-suboptions-list" style="display: none">
                <li class="filter-suboptions">Part Time</li>
                <li class="filter-suboptions">Full Time</li>
              </ul>
            </li>
            <li class="filter-options">Category
              <input type="text" name="filter-category" placeholder="Enter Job Category">
              <!-- <i class="fas fa-search"></i> -->
            </li>
            <li class="filter-options">City
              <input type="text" name="filter-city" placeholder="Enter City">
              <!-- <i class="fas fa-city"></i> -->
            </li>
            <li class="submit">
              <button type="submit" class="btn btn-large my-2">Save</button>
            </li>
          </ul>
      </div>
      <div class="user-view__content">
        <div class="content-wrapper">
          <div class="card">
            <div class="card-content">
              <div class="row heading">
                <h3 class="title">SDE Intern</h3>
                <span class="lead posted">Glasify Pvt. Ltd.</span>
              </div>
              <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quos corrupti tenetur explicabo suscipitahsbahsbhabsha aperiam! Quasi iure possimus soluta commodi...</p>
              <div class="details"><a href="">Read More</a></div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="row heading">
                <h3 class="title">ML Intern</h3>
                <p class="lead posted">Delhivery</p>
              </div>
              <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quos corrupti tenetur explicabo suscipit aperiam! Quasi iure possimus soluta commodi...</p>
              <div class="details"><a href="">Read More</a></div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="row heading">
                <h3 class="title">Finance Analyst Intern</h3>
                <p class="lead posted">UX-fly</p>
              </div>
              <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quos corrupti tenetur explicabo suscipit aperiam! Quasi iure possimus soluta commodi...</p>
              <div class="details"><a href="">Read More</a></div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="row heading">
                <h3 class="title">Android Intern</h3>
                <p class="lead posted">Posted 30 September, 2019</p>
              </div>
              <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quos corrupti tenetur explicabo suscipit aperiam! Quasi iure possimus soluta commodi...</p>
              <div class="details"><a href="">Read More</a></div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="row heading">
                <h3 class="title">Web Development Intern</h3>
                <p class="lead posted">Posted 30 September, 2019</p>
              </div>
              <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quos corrupti tenetur explicabo suscipit aperiam! Quasi iure possimus soluta commodi...</p>
              <div class="details"><a href="">Read More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

   <!-- Footer -->
   <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2020. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </footer>

</body>
</html>